:root {
    --primary: white;
    --secondary: silver;
    --primary-background: black;
    --secondary-background: #0f0f0f;
}

.main-container {
    height: 100%;
}

mat-sidenav {
    padding: 15px;
}

.channels-container {
    color: var(--primary);
    background: var(--primary-background);
}

.toolbar-container {

}
