<mat-sidenav-container class="main-container">
    <mat-sidenav opened mode="side" class="channels-container">
        <app-channels></app-channels>
    </mat-sidenav>
    <mat-sidenav opened mode="side" position="end" class="toolbar-container">
        End content
    </mat-sidenav>
    <button mat-raised-button color="primary">Raised</button>
    <button mat-raised-button color="accent">Accent</button>
    <button mat-raised-button color="warn">Warn</button>

    <app-messages></app-messages>
</mat-sidenav-container>

<!-- 
<app-servers></app-servers>
<app-channels></app-channels>
<app-messages></app-messages> -->